<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Risk Campaign Calculator</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <script src="/static/js/htmx.min.js"></script>

    <meta property="og:title" content="Risk Calculator">
    <!-- <meta property="og:image" content="img/path"> -->
  </head>
  <body>
    <header class="text-center">
      <h1>Risk Calculator -- Sweep</h1>
      <nav>
        <a href="/">Main</a>
        <a href="/sweep">Sweep</a>
      </nav>
    </header>

    <section>
      <p>Sweep through different attack sizes to find the best amount of units to attack with</p>
      <div> 
        <form autocomplete="off" name="calcForm" hx-post="/sweep_submit" hx-target="#result">
          <!-- <label for="title">Calculator</label><br> -->

          <label for="path">Path of units to attack</label><br>
          <input type="text" id="path" name="path"><br>

          <input type="submit" id="submit" name="submit">
        </form>
        <div id="result">

        </div>
      </div>
    </section>
    <footer>
    </footer>
  </body>
</html>
